<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator/>

	<!-- 读取 spring.application.name 属性来生成日志文件名
		scope：作用域
		name：在 logback-spring.xml 使用的键
		source：application.properties 文件中的键
		defaultValue：默认值
 	-->
	<!--定义日志存放的位置-->
	<springProperty scope="context" name="LOG_PATH" source="log.path"
					defaultValue="tzydb-logs"/>

	<!-- 本地开发只在控制台打印日志 -->
	<springProfile name="dev,test">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
				<charset>utf-8</charset>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
		</root>
		<logger name="com.wonders" level="DEBUG" additivity="false">
			<appender-ref ref="STDOUT"/>
		</logger>
	</springProfile>

	<!-- 部署在生产环境时只在文件记录日志，控制台（catalina.out）打印logback捕获不到的日志 -->
	<springProfile name="prod">
		<!-- 日志记录器，日期滚动记录 -->
		<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 正在记录的日志文件的路径及文件名 -->
			<file>${LOG_PATH}/log_error.log</file>
			<!-- 日志记录器的滚动策略，按日期，按大小记录 -->
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- 归档的日志文件的路径，%d{yyyy-MM-dd}指定日期格式，%i指定索引 -->
				<fileNamePattern>${LOG_PATH}/error/log-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<!-- 保存最近的30份记录 -->
				<maxHistory>30</maxHistory>
				<!-- 除按日志记录之外，还配置了日志文件不能超过2M，若超过2M，日志文件会以索引0开始 -->
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>50MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
			<!-- 追加方式记录日志 -->
			<append>true</append>
			<!-- 日志文件的格式 -->
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
				<charset>utf-8</charset>
			</encoder>
			<!-- 此日志文件只记录error级别的 -->
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>

		<appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/log_total.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/total/log-total-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>50MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<!-- 保存最近的30份记录 -->
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<append>true</append>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
				<charset>utf-8</charset>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="FILE_ERROR"/>
			<appender-ref ref="FILE_ALL"/>
		</root>
	</springProfile>
</configuration>